@tailwind base;
@tailwind components;
@tailwind utilities;

.HelpDialog__header {
  display: none !important;
}
button.dropdown-menu-button.main-menu-trigger.zen-mode-transition {
  display: none !important;
}

.excalidraw-modal-container {
  z-index: 999999 !important;
}
#hand-drawn-preview-container svg rect {
  stroke: #333;
  stroke-width: 2px;
  stroke-dasharray: 10;
}
